<section class="content">
  <div class="content-block">
    <div class="block-header">
      <div class="breadcrumb-main">
        <div class="row">
          <div class="col-6">
            <ul class="breadcrumb-list">
              <li class="breadcrumb-item bcrumb-1">
                <a *hasClaim="'ROLE_CREATE_ROLE'" [routerLink]="['/roles/manage']"
                  class="btn btn-outline-success btn-sm">
                  <app-feather-icons [icon]="'Plus'" [class]="'btn-success'"></app-feather-icons>
                  <span class="d-none d-sm-inline"> {{'ADD_ROLE' | translate}}</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="body table-responsive">
            <table mat-table [dataSource]="roles" class="w-100">
              <ng-container matColumnDef="action">
                <th style="width:30%" mat-header-cell *matHeaderCellDef>{{'ACTION' | translate}} </th>
                <td style="width:30%" mat-cell *matCellDef="let role">
                  <button *hasClaim="'ROLE_EDIT_ROLE'" [routerLink]="['/roles/manage',role.id]"
                    class="btn btn-green btn-success btn-sm m-r-10" type="button">
                    <svg width="16" height="16" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <g id="Icon" stroke="white">
                          <path id="Icon_2" d="M16.0137 1.82843C16.2763 1.56578 16.5881 1.35744 16.9313 1.2153C17.2744 1.07316 17.6422 1 18.0137 1C18.3851 1 18.7529 1.07316 19.0961 1.2153C19.4392 1.35744 19.751 1.56578 20.0137 1.82843C20.2763 2.09107 20.4847 2.40287 20.6268 2.74603C20.7689 3.0892 20.8421 3.45699 20.8421 3.82843C20.8421 4.19986 20.7689 4.56766 20.6268 4.91082C20.4847 5.25398 20.2763 5.56578 20.0137 5.82843L6.51367 19.3284L1.01367 20.8284L2.51367 15.3284L16.0137 1.82843Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      </g>
                  </svg> 
                    <span class="d-none d-sm-inline"> {{'EDIT' | translate}} </span>
                  </button>
                  <button *hasClaim="'ROLE_DELETE_ROLE'" (click)="deleteRole(role)" class="btn btn-red btn-danger btn-sm"
                    type="button">
                    <svg width="16" height="16" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <g id="trash-2" stroke="red">
                          <path id="Icon" d="M3.6875 6H5.6875M5.6875 6H21.6875M5.6875 6V20C5.6875 20.5304 5.89821 21.0391 6.27329 21.4142C6.64836 21.7893 7.15707 22 7.6875 22H17.6875C18.2179 22 18.7266 21.7893 19.1017 21.4142C19.4768 21.0391 19.6875 20.5304 19.6875 20V6H5.6875ZM8.6875 6V4C8.6875 3.46957 8.89821 2.96086 9.27329 2.58579C9.64836 2.21071 10.1571 2 10.6875 2H14.6875C15.2179 2 15.7266 2.21071 16.1017 2.58579C16.4768 2.96086 16.6875 3.46957 16.6875 4V6M10.6875 11V17M14.6875 11V17" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      </g>
                  </svg>
                    <span class="d-none d-sm-inline"> {{'DELETE' | translate}} </span>
                  </button>
                </td>
              </ng-container>

              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> {{'NAME' | translate}} </th>
                <td mat-cell *matCellDef="let role"> {{role.name}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="loading-shade" *ngIf="isLoadingResults">
  <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
</div>




<style>
  .btn-green{
    background: #32977F !important;
  }
  .btn-green svg{
    color: #ffff !important;
    width: 20px !important;
    height: 20px !important;
  }
  .btn-green-color{
    color: #ffff !important;
  }
  .btn-red{
    border: 1px solid red !important;
    background-color: white !important;
    color: red !important;
  }
  
  .btn-red svg{
    color: red !important;
    width: 20px !important;
    height: 20px !important;
  }
  </style>