<div class="d-flex">
  <h2 mat-dialog-title>{{'ADD_REMINDER' | translate}} :: {{data?.name}}</h2>
  <button mat-icon-button class="close-button ms-auto" (click)="closeDialog()">
    <mat-icon class="close-icon" color="warn">close</mat-icon>
  </button>
</div>
<div mat-dialog-content>
  <div class="row">
    <div class="col-sm-12">
      <form [formGroup]="reminderForm">
        <div class="row">
          <div class="form-group col-md-12">
            <label for="subject"> {{'SUBJECT' | translate}}</label>
            <input formControlName="subject" type="text" class="form-control" id="subject">
            <div *ngIf="reminderForm.get('subject').touched && reminderForm.get('subject').errors">
              <div class="text-danger" *ngIf="reminderForm.get('subject').errors?.['required']">
                {{'SUBJECT_IS_REQUIRED' | translate}}
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-12">
            <label for="message"> {{'MESSAGE' | translate}}</label>
            <textarea class="form-control" formControlName="message" id="message" cols="30"></textarea>
            <div *ngIf="reminderForm.get('message').touched && reminderForm.get('message').errors">
              <div class="text-danger" *ngIf="reminderForm.get('message').errors?.['required']">
                {{'MESSAGE_IS_REQUIRED' | translate}}
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <mat-checkbox color="primary" (change)="checkData($event)" formControlName="isRepeated">
              {{'REPEATE_REMINDER' | translate}}
            </mat-checkbox>
          </div>
          <div class="col-md-2">
            <mat-checkbox color="primary" formControlName="isEmailNotification">{{'SEND_EMAIL' |
              translate}}</mat-checkbox>
          </div>
          <!-- <div class="col-md-4">
            <mat-select placeholder="Select Users" class="form-control" [(value)]="selectedUsers" multiple>
              <mat-select-trigger>
                <span *ngIf="selectedUsers.length > 0">
                  {{selectedUsers[0].firstName}} {{selectedUsers[0].lastName}}
                </span>
                <span *ngIf="selectedUsers.length > 1" class="example-additional-selection">
                  (+{{selectedUsers.length - 1}} {{selectedUsers.length === 2 ? 'other' :
                  'others'}})
                </span>
              </mat-select-trigger>
              <mat-option *ngFor="let user of users" [value]="user">{{user.firstName}}
                {{user.lastName}}</mat-option>
            </mat-select>
          </div> -->
        </div>
        <div class="row" *ngIf="reminderForm.get('isRepeated').value">
          <div class="form-group col-md-6">
            <label for="frequency"> {{'FREQUENCY' | translate}}</label>
            <select class="form-control" (change)="onFrequencyChange()" formControlName="frequency" id="frequency">
              <option value="">--{{'NONE' | translate}}--</option>
              <option [value]="frequencyItem?.id" *ngFor="let frequencyItem of reminderFrequencies">
                {{frequencyItem?.name}}
              </option>
            </select>
            <div   *ngIf="reminderForm.get('frequency').hasError('required')">
              <div class="text-danger">
                {{'FREQUENCY_IS_REQUIRED' | translate}}
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="reminderForm.get('isRepeated').value">
          <div class="col-md-12">
            <div class="form-group" *ngIf="reminderForm.get('frequency').value === '0'">
              <label for="weekDays">{{'WEEK_DAYS' | translate}}</label>
              <div id="weekDays" class="row">
                <div class="col-sm-auto mr-1" formArrayName="dailyReminders"
                  *ngFor="let dailyReminder of dailyRemindersArray.controls; let i=index">
                  <ng-container [formGroupName]="i">
                    <mat-checkbox color="primary" class="mr-1" formControlName="isActive">
                      {{dailyReminder.get('name').value}}
                    </mat-checkbox>
                  </ng-container>
                </div>
              </div>
            </div>
            <div class="form-group" *ngIf="reminderForm.get('frequency').value === '1'">
              <label for="weekDay">{{'WEEK_DAYS' | translate}}</label>
              <div id="weekDay">
                <mat-radio-group formControlName="dayOfWeek">
                  <mat-radio-button class="mr-2" color="primary" [value]="day.id"
                    *ngFor="let day of dayOfWeek; let i=index">{{day.name}}</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
            <div class="form-group" *ngIf="reminderForm.get('frequency').value === '3'">
              <label for="Quarterly">{{'SELECT_QUARTER_DATE' | translate}}</label>
              <div id="Quarterly" class="row">
                <table class="table">
                  <thead>
                    <tr>
                      <th></th>
                      <th>{{'SELECT_REMINDER_MONTH' | translate}}</th>
                      <th>{{'SELECT_REMINDER_DAY' | translate}}</th>
                    </tr>
                  </thead>
                  <tbody formArrayName="quarterlyReminders">
                    <tr *ngFor="let quarterlyReminder of quarterlyRemindersArray.controls; let i=index">
                      <ng-container [formGroupName]="i">
                        <td>{{quarterlyReminder.get('name').value}}</td>
                        <td>
                          <select (change)="onDateChange(quarterlyReminder)" class="form-control"
                            formControlName="month">
                            <option [value]="mon.id" *ngFor="let mon of quarterlyReminder.get('monthValues').value">
                              {{mon.name}}
                            </option>
                          </select>
                        </td>
                        <td>
                          <select (change)="onDateChange(quarterlyReminder)" class="form-control" formControlName="day">
                            <option [value]="day" *ngFor="let day of days">
                              {{day}}
                            </option>
                          </select>
                          <div
                            *ngIf="quarterlyReminder.get('day').touched && quarterlyReminder.hasError('invalidDate')">
                            <div class="text-danger">
                              {{'PLEASE_SELECT_VALID_DAY' | translate}}
                            </div>
                          </div>
                        </td>
                      </ng-container>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="form-group" *ngIf="reminderForm.get('frequency').value === '4'">
              <label for="HalfYearly">{{'SELECT_DATE' | translate}}</label>
              <div id="HalfYearly" class="row">
                <table class="table">
                  <thead>
                    <tr>
                      <th></th>
                      <th>{{'SELECT_REMINDER_MONTH' | translate}}</th>
                      <th>{{'SELECT_REMINDER_DAY' | translate}}</th>
                    </tr>
                  </thead>
                  <tbody formArrayName="halfYearlyReminders">
                    <tr *ngFor="let halfYearlyReminder of halfYearlyRemindersArray.controls; let i=index">
                      <ng-container [formGroupName]="i">
                        <td>{{halfYearlyReminder.get('name').value}}</td>
                        <td>
                          <select (change)="onDateChange(halfYearlyReminder)" class="form-control"
                            formControlName="month">
                            <option [value]="mon.id" *ngFor="let mon of halfYearlyReminder.get('monthValues').value">
                              {{mon.name}}
                            </option>
                          </select>
                        </td>
                        <td>
                          <select (change)="onDateChange(halfYearlyReminder)" class="form-control"
                            formControlName="day">
                            <option [value]="day" *ngFor="let day of days">
                              {{day}}
                            </option>
                          </select>
                          <div
                            *ngIf="halfYearlyReminder.get('day').touched && halfYearlyReminder.hasError('invalidDate')">
                            <div class="text-danger">
                              {{'PLEASE_SELECT_VALID_DAY' | translate}}
                            </div>
                          </div>
                        </td>
                      </ng-container>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6" *ngIf="!reminderForm.get('isRepeated').value">
            <label for="frequency"> {{'REMINDER_DATE' | translate}}</label>
            <input class="form-control" [owlDateTimeTrigger]="dt2" [min]="minDate" formControlName="startDate"
              [owlDateTime]="dt2" placeholder="Date">
            <div *ngIf="reminderForm.get('startDate').touched && reminderForm.get('startDate').errors">
              <div class="text-danger" *ngIf="reminderForm.get('startDate').errors?.['required']">
                {{'DATE_IS_REQUIRED' | translate}}
              </div>
            </div>
            <div *ngIf="reminderForm.get('startDate').touched && reminderForm.get('startDate').errors">
              <div class="text-danger" *ngIf="reminderForm.get('startDate').errors?.['owlDateTimeMin']">
                {{'START_DATE_SHOULD_BE_GREATER_THEN_CURRENT_DATE_TIME' | translate}}
              </div>
            </div>
            <owl-date-time #dt2></owl-date-time>
          </div>
          <div class="form-group col-md-6" *ngIf="reminderForm.get('isRepeated').value">
            <label for="frequency"> {{'REMINDER_START_DATE' | translate}}</label>
            <input class="form-control" [owlDateTimeTrigger]="dt3" [min]="minDate" formControlName="startDate"
              [owlDateTime]="dt3" placeholder="Start Date">
            <div *ngIf="reminderForm.get('startDate').touched && reminderForm.get('startDate').errors">
              <div class="text-danger" *ngIf="reminderForm.get('startDate').errors?.['required']">
                {{'START_DATE_IS_REQUIRED' | translate}}
              </div>
            </div>
            <div *ngIf="reminderForm.get('startDate').touched && reminderForm.get('startDate').errors">
              <div class="text-danger" *ngIf="reminderForm.get('startDate').errors?.['owlDateTimeMin']">
                {{'START_DATE_SHOULD_BE_GREATER_THEN_CURRENT_DATE_TIME' | translate}}
              </div>
            </div>
            <owl-date-time #dt3></owl-date-time>
          </div>
          <div class="form-group col-md-6" *ngIf="reminderForm.get('isRepeated').value">
            <label for="frequency">{{'REMINDER_END_DATE' | translate}}</label>
            <input class="form-control" [owlDateTimeTrigger]="dt4" formControlName="endDate" [owlDateTime]="dt4"
              placeholder="{{'REMINDER_END_DATE' | translate}}">
            <owl-date-time #dt4></owl-date-time>
          </div>
          <div class="m-t-10 col-md-12">
            <button (click)="createReminder()" type="submit" class="btn btn-green btn-success btn-sm m-r-10">
              <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="check-circle" stroke="white">
                    <path id="Icon" d="M22 11.08V12C21.9988 14.1564 21.3005 16.2547 20.0093 17.9818C18.7182 19.709 16.9033 20.9725 14.8354 21.5839C12.7674 22.1953 10.5573 22.1219 8.53447 21.3746C6.51168 20.6273 4.78465 19.2461 3.61096 17.4371C2.43727 15.628 1.87979 13.4881 2.02168 11.3363C2.16356 9.18455 2.99721 7.13631 4.39828 5.49706C5.79935 3.85781 7.69279 2.71537 9.79619 2.24013C11.8996 1.7649 14.1003 1.98232 16.07 2.85999M22 3.99999L12 14.01L9.00001 11.01" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </g>
            </svg>
              {{'SAVE' | translate}}
            </button>
            <button type="button" class="btn btn-red btn-danger btn-sm" (click)="onCancel()">
              <svg width="16" height="16" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="trash-2" stroke="red">
                    <path id="Icon" d="M3.6875 6H5.6875M5.6875 6H21.6875M5.6875 6V20C5.6875 20.5304 5.89821 21.0391 6.27329 21.4142C6.64836 21.7893 7.15707 22 7.6875 22H17.6875C18.2179 22 18.7266 21.7893 19.1017 21.4142C19.4768 21.0391 19.6875 20.5304 19.6875 20V6H5.6875ZM8.6875 6V4C8.6875 3.46957 8.89821 2.96086 9.27329 2.58579C9.64836 2.21071 10.1571 2 10.6875 2H14.6875C15.2179 2 15.7266 2.21071 16.1017 2.58579C16.4768 2.96086 16.6875 3.46957 16.6875 4V6M10.6875 11V17M14.6875 11V17" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </g>
              </svg>
              {{'CANCEL' | translate}}
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="loading-shade" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>
</div>




<style>
  .btn-green{
    background: #32977F !important;
  }
  .btn-green svg{
    color: #ffff !important;
    width: 20px !important;
    height: 20px !important;
  }
  .btn-green-color{
    color: #ffff !important;
  }
  .btn-red{
    border: 1px solid red !important;
    background-color: white !important;
    color: red !important;
  }
  
  .btn-red svg{
    color: red !important;
    width: 20px !important;
    height: 20px !important;
  }
  </style>