<section class="content home_block">
  <div class="content-block">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card home-top">
          <div class="body home-margin">
            <div class="row margin-2">
              <div class="col-md-4">
                <div class="home_container">
                  <div class="home_title">
                        <h3>Welcome to Document Management System</h3>
                    </div>
                <div class="description_responsible">
                   <div class="home_description">
                       <span>A comprehensive software solution designed to efficiently organize, store, retrieve, and manage documents and files within an organization.</span>
                   </div>
                </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row home__section">
            <ul class="home_padding">
                <li class="home__list-item">
                  <div class="home__between">
                  <span>
                  All Documents
                </span>
                <svg class="arrow-icon" width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 8.5H15M15 8.5L8 1.5M15 8.5L8 15.5" stroke="black" stroke-opacity="0.45" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                  </div>
                </li>
                <li class="home__list-item">
                  <div class="home__between">
                  <span>
                  Document Storage
                </span>
                <svg class="arrow-icon" width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 8.5H15M15 8.5L8 1.5M15 8.5L8 15.5" stroke="black" stroke-opacity="0.45" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                  </div>
                    <!-- <a *hasClaim="'DASHBOARD_VIEW_DASHBOARD'" routerLink="/dashboard"
                      class="btn btn-outline-success btn-sm">
                      <span class="d-none d-sm-inline"> DASHBOARD</span>
                    </a> -->
                </li>
                <li class="home__list-item">
                  <div class="home__between">
                    <span>Document Categories</span>
                    <svg  class="arrow-icon" width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 8.5H15M15 8.5L8 1.5M15 8.5L8 15.5" stroke="black" stroke-opacity="0.45" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg> 
                    </div>                     
                </li>
            </ul>
            <ul class="home_padding">
              <li class="home__list-item">
                <div class="home__between">
                <span>
                Document Audit Trail
              </span>
              <svg class="arrow-icon" width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 8.5H15M15 8.5L8 1.5M15 8.5L8 15.5" stroke="black" stroke-opacity="0.45" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                </div>
                  <!-- <a *hasClaim="'ALL_DOCUMENTS_CREATE_DOCUMENT'" routerLink="/All-Documents"
                    class="btn btn-outline-success btn-sm">
                    <span class="d-none d-sm-inline"> All Documents</span>
                  </a> -->
              </li>
              <li class="home__list-item">
                <div class="home__between">
                <span>
                Roles
              </span>
              <svg  class="arrow-icon" width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 8.5H15M15 8.5L8 1.5M15 8.5L8 15.5" stroke="black" stroke-opacity="0.45" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                </div>
                  <!-- <a *hasClaim="'DASHBOARD_VIEW_DASHBOARD'" routerLink="/dashboard"
                    class="btn btn-outline-success btn-sm">
                    <span class="d-none d-sm-inline"> DASHBOARD</span>
                  </a> -->
              </li>
              <li class="home__list-item">
                <div class="home__between">
                  <span>Users</span>
                  <svg  class="arrow-icon" width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 8.5H15M15 8.5L8 1.5M15 8.5L8 15.5" stroke="black" stroke-opacity="0.45" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg> 
                  </div>                     
              </li>
          </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- <div class="loading-shade" *ngIf="dataSource.loading$ | async">
    <mat-spinner></mat-spinner>
  </div> -->